
*{
  margin: 0;
  padding: 0;
}

.MHTeamJoinNo{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: end;
  padding: 5px 0;
}

.HTeamJoinNo{
  width: 184px;
  display: flex;
  justify-content: space-around;
}