* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.discord {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.discord-end {
  width: 100%;
  height: 100%;
}

.discord-end-x {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.discord-end-fnot {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.discord-body {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord-foot {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50%;
}

.discord-foot-Metting {
  width: 10%;
  height: 100%;
  display: flex;
  gap: 30%;
  
}

.discord-foot-Src {
  width: 20%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.discord-foot-NoSrc {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}
