* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Feedback-p {
  width: 67%;
  border-radius: 15px;
  border: 1px solid #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Feedback-p-font {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

