.MeetingTeams {
  width: 100%;
  height: 38%;
  border-radius: 12px;
  color: var(--black);
  background-color: var(--gray-50);
}

.MeetingTFont {
  padding: 10px;
}

.MeetingTButton {
  width: 100%;
  height: 20%;
  border-radius: 12px;
  border: none;
}
